.DS_Store
.classpath
.project
Thumbs.db
[Dd]esktop.ini
package-lock.json
.eslintcache
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.metadata
local.properties

hs_err_pid*

*.zip
*.7z
*.rar
*.tar.gz
*.dll
*.jnilib
*.log
*.exe
*.app
*.dmg
*.swp
*.iml
*.msi
*.apk
*.class
*.orig
*.tmp
*.so
*.jar
*.war
*.nar
*.ear


build/
bin/
tools/
tmp/
cache/
classes/
out/
.gradle/
.settings/
.sonar/
.idea/

*java-gen/
*libs/
*build/
*out/
*.gradle/



##### Mercurial
.hg/
.hgignore
.hgsigs
.hgsub
.hgsubstate
.hgtags
